.d-flex{
    height: 40px;
    width: 500px;
   
}
#nav{
    height: 90px;
}
.bar{
    height: 70px;
    width: 100%;
    background-color: black;
}
.dropdown{
    display: inline-block;
    justify-content: space-around;
    padding-top: 15px;
    padding-left: 30px;
}
#list{
    text-decoration: none;
    color: black;
}
#word{
    text-decoration: none;
    color: white;
}
#box{
    color: white;
    background-color: black;
    border-style: none;
}
#box:hover{
    color: red;
}
.carousel-inner{
    margin-left: 70PX;
    height: 400PX;
    width: 80%;
}
.image{
    height: 400px;
    width: 90%;
}
#head{
    border-bottom: solid rgb(54, 52, 52);
    width: 90%;
    margin-left: 65px;
    font-family: sans-serif;
    
}
#card{
    margin-left: 50px;
    margin-right: 50px;
    
}
#img-size{
    height: 250px;
    width: 250px;
}
.col{
    height: 500px;
    width: 40%;
    box-shadow: 5px 5px 5px grey;
}
#size{
    width: 250px;
    
}
.price{
    color: red;
}
#color{
    background-color: violet;
    border-style: none;
}
#white{
    margin-top: 30px;
    text-decoration: none;
}
#footer{
    height: 450px;
    width: 100%;
    background-color: rgb(22, 21, 21);
}
.foot{
    height: 100px;
    width: 20%;
    color: white;
    float: left;
    margin-top: 50px;
    margin-left: 70px;
}
.foot ul li{
    list-style: none;
}